<!DOCTYPE><HTML><head><link rel='stylesheet' type = 'text/css' href = 'blog.css'/></head><BODY><CENTER><h1>Blogosphere</h1></CENTER>
<div><h3>Fido</h3><p>I lost my cat! But of course I found him hiding under my bed chewing on my socks again, what a silly boy!</p><p>Tags: funny, dog, silly</p></div>
<div><h3>Friday night</h3><p>Wow last night was crazy, the Radmirals sure know how to have a fun time!</p><p>Tags: party, friends, yolo, nofilter</p></div>
<div><h3>What are your weekend plans?</h3><p>Hey guys! We should all get together one of these weekends, I miss you all so much :(</p><p>Tags: sad, frown</p></div>
</BODY></HTML>
